<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav th:replace="components/logged-menu :: logged-menu"></nav>

<!--OLD LAYOUT-->


<div class="container">
    <div class="row">
        <div>
            Create company if not exist. Do you have to add main department? Probably.
        </div>
        <div>
            Create employee if company and department exists.
        </div>
        <div>
            Add car if company and department exists.
        </div>
    </div>
</div>
</body>
</html>