<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a href="/admin" class="btn">Home</a>
    <a href="/create-company" class="btn">Create company</a>
    <a href="/add-department" class="btn">Add department</a>
    <a href="/add-employee" class="btn">Add employee</a>
</nav> <br>
<div class="container">
    <div class="row">
        <form method="post" th:action="@{/create-company}" th:object="${company}">
            Create CarRentalCompany object.
            <div class="form-group">
                <label for="inputName">Company Name</label>
                <input type="text" class="form-control" id="inputName" th:field="*{companyName}">
            </div>
            <div class="form-group">
                <label for="inputSurName">Domain</label>
                <input type="text" class="form-control" id="inputSurName" th:field="*{domain}">
            </div>
            <input type="submit" name="submit" class="btn btn-outline-info" th:value="Submit"/>
        </form>
    </div>
</div>
</body>
</html>