<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a href="/" class="btn">Home</a>
</nav> <br>
<div class="container">
    <div class="row">
        <h3>Create new account.</h3>
    </div>
    <div class="row">
        <form method="post" th:action="@{/register-client}" th:object="${clientForm}">
            <div class="row">
                <div class="col form-group">
                    <label for="inputName">Name</label>
                    <input type="text" class="form-control" id="inputName" th:field="*{name}">
                    <p th:errors="*{name}"></p>
                </div>
                <div class="col form-group">
                    <label for="inputSurName">Surname</label>
                    <input type="text" class="form-control" id="inputSurname" th:field="*{surname}">
                    <p th:errors="*{surname}"></p>
                </div>
            </div>
            <div class="row">
            <div class="col form-group">
                <label for="inputSurName">Email (use as login)</label>
                <input type="email" class="form-control" id="inputEmail" th:field="*{email}">
                <p th:errors="*{email}"></p>
            </div>
                <div class="col form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword" th:field="*{password}">
                    <p th:errors="*{password}"></p>
                </div>
            </div>

            <div class="row">
                <div class="col form-group">
                    <label for="inputSurName">Street</label>
                    <input type="text" class="form-control" id="inputStreet" th:field="*{street}">
                    <p th:errors="*{street}"></p>
                </div>
                <div class="col form-group">
                    <label for="inputSurName">Building number</label>
                    <input type="text" class="form-control" id="inputBuildingNumber" th:field="*{buildingNumber}">
                    <p th:errors="*{buildingNumber}"></p>
                </div>
                <div class="col form-group">
                    <label for="inputSurName">City</label>
                    <input type="text" class="form-control" id="inputCity" th:field="*{city}">
                    <p th:errors="*{city}"></p>
                </div>
            </div>

            <input type="submit" name="submit" class="btn btn-outline-info" th:value="Submit"/>
        </form>
    </div>
</div>
</body>
</html>